<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/adminDashboardstyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>

<body>
    <nav>
        <input type="checkbox" name="open" id="open">
        <label for="open" class="open">
            <i class="fas fa-bars"></i>
        </label>
        <div class="menu">
            <div class="logo">
                <a href="#">
                    <img src="/img/vlute_icon.png" alt="">
                </a>
            </div>
            <ul>
                <li>
                    <a href="">
                        <span><i class="fas fa-home"></i></span>
                        Trang chủ
                    </a>
                </li>
                <li>
                    <a href="/admin/userManagement">
                        <span><i class="fas fa-user"></i></span>
                        Quản lý người dùng
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fas fa-book"></i></span>
                        Quản lý môn học
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fas fa-book-open"></i></span>
                        Quản lý buổi học
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fas fa-pencil-alt"></i></span>
                        Quản lý đăng ký môn học
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fas fa-qrcode"></i></span>
                        Quản lý thẻ rfid
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fas fa-calendar-check"></i></span>
                        Lịch sử điểm danh
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fas fa-history"></i></span>
                        Quản lý Logs
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>